*.class
bin/
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.h5

*.aux
*.log
*.out
*.gz
*.pyc

mchain-python/data/
mchain-python/test.txt
mchain-python/train.txt

hmm-python/data/
hmm-python/test.txt
hmm-python/train.txt

deeplearning/under/
deeplearning/over/

split-data/data/
split-data/under
split-data/over
